back-end/bloco_26/dia_04/node_modules
back-end/bloco_27/dia_01/node_modules
back-end/bloco_27/dia_01/bonus/node_modules
back-end/bloco_27/dia_01/bonus/.env
back-end/bloco_27/dia_02/node_modules
back-end/bloco_29/dia_01/node_modules
back-end/bloco_31/dia_01/node_modules
back-end/bloco_31/dia_02/node_modules/
back-end/bloco_31/dia_02/.env
back-end/bloco_31/dia_04/node_modules/